
@import "node_modules/materialize-css/sass/materialize";
@import "card";
@import "loader";


$primary-color: color(#FFFFFF) !default;
$secondary-color: color(#0F0F0F) !default;
$card-link-color: color(#999999) !default;

main { padding-top: 40px; };
body { background-color: #f1f1ff; }
.page-footer { margin-top: 100px; }



